/* index-page-table */
.index-stocks {
    /*color: #fff;*/
}

.index-stocks tr td, .index-stocks tr th {
    text-transform: uppercase;
    text-align: center;
}

.index-stocks tr td:first-of-type{
    text-align: left;
}

.index-stocks tr td:first-of-type img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}

.index-stocks tr:last-of-type td {
    text-transform: none;
    color: #fff;
}
/* /index-page-table */
